
*{

/* universal selector */
padding :0;
margin:0;

}

.container{
  max-width: 1600px;
  margin:auto;
}


.btn-pr{
   width: 164px;         /* Specific width */
  height: 44px;
    background-color: #30b868;
    color:white;
    border-radius: 4px;



}

header{
    /* width:1600px;
    height:92px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:16px 120px 16px 120px;
    background-color: #ffffff; */
   
}

.navigation{


 height: 50px;
 display: flex;
 justify-content: space-between;

 /* padding:16px 120px 16px 120px; */

 padding:30px 120px 0px 120px; 

gap: 32px;
 justify-content: space-between;
 align-items: center;


}

.link-parent{

  display: flex;
  list-style:none;
   gap:32px;

}
 .link-parent a{
  text-decoration: none;
 font-size: 25px;
 
 
 }

.logo img{
    width: 139px;
    height:60px

}

.moto{
  font-size: 40px;
}
 .text-container {
  align-items: center;
  display: flex;
  flex-direction: column;   
  align-items: center;     
  justify-content:center; 
  padding :20px 120px 130px 120px;
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3000px 1600px;
  
  text-align: center;
  gap: 10px;
 }
     

.tex-ccontainer {
  display: flex;       
  list-style: none;    
  gap: 30px;           
 
  padding: 0;
}

.tex-ccontainer li {
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 800px;

} 
.early_btn{
  width:16px;
  height:16px;  
}

.early_access{
    width:229px;
    height:35px;
    padding:8px,12px,8px,12px;
    border-radius: 1000px;
    color:#30b868;
    background-color: white;
    margin-top: 115.5px;

}
.btn_sart{
    display:flex;
    gap:16px;
}
.Struct{
    /* width: 770px;
    height: 168px; */
    color:white
}
.notjust{

     /* width: 770px;
    height: 168px; */
    color:#30b868
}
.fz{
  font-size: 20px;
}
.D_Note{
  display: flex;
  justify-content: space-between;
  margin: certer;
}
#notes{
  margin-top: 10px;
  text-align: center;
  font-size: 48px;
  font-weight: 48px;

}
.second_hero{
  display: flex;
  justify-content:space-between;
   margin-top: 150px;

   gap:30px;

}
.bt_f{
  display:flex;
  justify-content: space-between;
  margin: auto;
}

.bottom_tex{

  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 50px;
}