
*{

    /* Apps */
/* width: 1600px;
height: 448px; */
/* Auto layout */
/* display: flex; */
/* flex-direction: column; */
/* justify-content: flex-start; */
/* align-items: center; */
/* gap: 44; */
/* padding: 120px; */

}




.btn-pr{
   width: 164px;         /* Specific width */
  height: 44px;
    background-color: #30b868;
    color:white;
    border-radius: 4px;



}

header{
    /* width:1600px;
    height:92px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:16px 120px 16px 120px;
    background-color: #ffffff; */
   
}

.navigation{

 display: flex;
 justify-content: space-between;
 margin:0 auto;
 padding:16px 120px 16px 120px;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;

}
.logo img{
    width: 139px;
    height:60px

}
 nav ul .tex-container {
    display: flex;
    
    text-decoration: none;
    margin-left:32px;
    font-size:16px;
    font-weight:500;
    color:black
  
 }  
   .bg_img{
    /* padding: 120px; */
    /* justify-content:center; */
    /* margin:0 auto; */
 }




 .text-container {

    width: 1600px;
    height: 379px;
   
  /* background-image: url(./assets/hero-bg.png);
  background-position: ; */
  /* padding: 120px; */

  
  display: flex;
  flex-direction: column;   
  align-items: center;     
  justify-content:space-between; 
  padding: 500px;
  margin-top:-600px;
  
  
}

.tex-ccontainer {
  display: flex;       
  list-style: none;    
  gap: 30px;           
 
  padding: 0;
}

.tex-ccontainer li {
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 500;

} 
.early_btn{
  width:16px;
  height:16px;  
}

.early_access{
    width:229px;
    height:35px;
    padding:8px,12px,8px,12px;
    border-radius: 1000px;
    color:#30b868;
    background-color: white;
    margin-top: 115.5px;

}
.btn_sart{
    display:flex;
    gap:16px;
}
.Struct{
    /* width: 770px;
    height: 168px; */
    color:red
}
.notjust{

     /* width: 770px;
    height: 168px; */
    color:#30b868
}
